.converter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;

    margin-top: 8rem; /*/!!!!!!!!!!!!!!!!!!!/*/
    /*border: 1px solid green;*/
}

.converter-btn {
}

.converter-glyph{
    font-size: 2em;
    line-height: 1.3em;
}