.currency-btn{
    font-size: 0.98em;
    padding: 0.5em 0.8em;
    margin: 0.3em auto;
    width: 3.95em;
}

.currency-dropdown{
    width: auto;
}

.dropdown-menu > li > a {
    padding: 5px 20px;
}

.currency-btn+.dropdown-menu {
    height: 11.5em;
    overflow: auto;
}

@media screen and (max-width: 825px), screen and (max-device-width: 825px) {
    .currency-btn{
        width: 3.17em;
        padding: 0.5em 0.35em;
    }
    .currency-dropdown{
        width: auto;
    }
}