html, body, #root{
    height: 100%;
}

body{
    background: #136ebd url(../imgs/background-alt.svg) center center no-repeat;
    background-size: cover;
    color: black;
}

@media screen and (max-aspect-ratio: 10/9), screen and (max-device-aspect-ratio: 10/9) {
    body{
        background: #136ebd url(../imgs/background-alt.svg) center center;
        background-size: 100%;
    }
}