#root{
    width: 100%;
}

html, body{
    height: 100%;
    /*background: #136ebd url(../imgs/background-alt.svg) 50% 0 no-repeat;*/
    background: #136ebd url(../imgs/background-alt.svg) center center no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
}

body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}